* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: mabry;
  color: white;
}

:root {
  --button-bg-color: green;
}

@font-face {
  font-family: "mabry";
  src: url(./fonts/Mabry\ Pro\ Medium/Mabry-Pro-Medium.ttf);
  font-style: normal;
  font-weight: 600;
}

.container {
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px;
}

.app-overlay {
  width: 100%;
  height: 100%;
  background: #000;
  top: 0;
  opacity: 0.3;
  position: absolute;
  z-index: 0;
}

/* Navigation */

.nav-bar {
  text-align: right;
}

.saved-locations {
  margin-bottom: 24px;
  border-radius: 8px;
  border: none;
  background-color: rgb(93, 252, 185);
  padding: 16px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  margin-left: 65%;
  text-align: center;
}

.saved-locations:hover {
  background-color: rgb(47, 201, 137);
  transition: 0.4s ease-in;
}
.list-btn {
  padding-right: 8px;
}

.num-list-items {
  border: none;
}

.user-input {
}

.user-input-field {
  padding: 18px 16px 16px 16px;
  border: none;
  border-radius: 8px 0 0 8px;
  color: black;
}

.search-btn {
  border-radius: 0 8px 8px 0;
  border: none;
  background-color: rgb(93, 252, 185);
  padding: 16px;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.search-btn:hover {
  background-color: rgb(47, 201, 137);
  transition: 0.4s ease-in;
}

/* Backdrop & Modal */
.backdrop {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.301);
  height: 100%;
  width: 100vw;
  z-index: 20;
}

.modal-container {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 30;
  text-align: center;
  background-color: rgb(248, 248, 248);
  padding: 60px 60px 0 60px;
  border-radius: 8px;
  height: auto;
  min-height: 200px;
  max-height: 450px;
  width: 60%;
}

.modal-container ul {
  display: flex;
  flex-direction: column;
  position: relative;
  max-height: 280px;
  width: auto;
  overflow-y: scroll;
}

.modal-error-msg {
  color: black;
  font-size: 36px;
  padding: 24px;
}

.hide-modal {
  border-radius: 24px;
  border: none;
  background-color: rgb(247, 132, 112);
  padding: 16px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  margin: 24px 0;
}

.hide-modal:hover {
  background-color: rgb(204, 79, 57);
  transition: 0.4s ease-in;
}

/* Saved Location */
.location-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
  border-radius: 8px;
  width: auto;
  max-width: 700px;
  height: auto;
  flex-wrap: wrap;
}

.saved-location-info {
  text-align: left;
}

.saved-location-info h3 {
  font-size: 36px;
}

.saved-location-info h6 {
  font-size: 20px;
  opacity: 0.7;
}

.saved-location-controls {
  padding: 0 8px;
}

.saved-location-controls .render-btn {
  border-radius: 24px;
  border: none;
  background-color: rgb(93, 252, 185);
  padding: 16px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  margin: 8px;
}

.saved-location-controls .render-btn:hover {
  background-color: rgb(47, 201, 137);
  transition: 0.4s ease-in;
}

.saved-location-controls .remove-btn {
  border-radius: 24px;
  border: none;
  background-color: rgb(247, 132, 112);
  padding: 16px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  margin: 8px;
}

.saved-location-controls .remove-btn:hover {
  background-color: rgb(209, 85, 63);
  transition: 0.4s ease-in;
}

@media only screen and (max-width: 970px) {
  .header {
    padding: 24px 32px;
  }
}
